{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mini HMS{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="navbar">

    <div class="nav-container">

        <a href="{% url 'accounts:home' %}" class="logo">
            🏥 HMS Hospitals
        </a>

        <nav>

            {% if user.is_authenticated %}

                {% if user.is_doctor %}

                    <a href="{% url 'doctors:dashboard' %}">Dashboard</a>

                    <a href="{% url 'bookings:doctor_bookings' %}">
                        My Appointments
                    </a>

                {% else %}

                    <a href="{% url 'patients:dashboard' %}">
                        Find Doctor
                    </a>

                    <a href="{% url 'bookings:my_bookings' %}">
                        My Bookings
                    </a>

                {% endif %}

                <a href="{% url 'calendar_integration:connect' %}">
                    Google Calendar
                </a>

                <a href="{% url 'accounts:logout' %}" class="logout-btn">
                    Logout ({{ user.username }})
                </a>

            {% else %}

                <a href="{% url 'accounts:login' %}">
                    Login
                </a>

                <a href="{% url 'accounts:signup_doctor' %}">
                    Doctor Signup
                </a>

                <a href="{% url 'accounts:signup_patient' %}">
                    Patient Signup
                </a>

            {% endif %}

        </nav>

    </div>

</header>

<main class="main-content">

    {% if messages %}

        {% for message in messages %}

        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>

        {% endfor %}

    {% endif %}

    {% block content %}{% endblock %}

</main>

</body>
</html>